*{
    margin:0px;
    padding:0px;
}
body{
    background-color: darkcyan;
}
 .heading{
    text-align: center;
    color:whitesmoke;
    margin-right:250px;
 }
 .icon{
    height:50px;
    width:50px;
    border: 1px solid black;
    border-radius: 20px;
    margin-left:10px;
    margin-top:2px;
    background-color: white;
 }
 .iimage{
    height:35px;
    width:35px;
    margin-left:6px;
    margin-top:4px;
    border-radius:6px;
 }
 .head{
    display:flex;
    margin-top:10px;
    justify-content: space-between;
    /*background-color: darkgrey;*/
 }
 .navbar{
    margin-top:10px;
    width:100%;
 }
 #searchbar{
    margin-left: 700px;
    width:250px;
    margin-right:0px;
 }
 /*.nav-con{
  display:flex;
  justify-content:space-between;
 }*/
 #home{
  margin-left:20px;
 }
 #view{
  margin-left:50px;
 }
 #upload{
  margin-left:50px;
 }
 marquee{
  height:50px;
   color:white;
 }
 .book{
    height:170px;
    width:300px;
    background-color: white;
    margin-left:30px;
    margin-top:20px;
    border:1px solid white;
    border-radius: 10px;
    display:flex;
 }
 .bookim{
    height:165px;
    width:120px;
    /*margin-left:5px;
    margin-top:20px;*/
    margin:2px;
 }
 .bookdetails{
    margin-left:20px;
    margin-top:10px;
 }
 .content{
    margin-left:30px;
 }